<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Rastreador de Tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="main">
        <div class="container">
            <h1>Lista de Tareas Pendientes</h1>

            <form action="{{ url_for('add_task') }}" method="POST">
                <input type="text" name="task_content" placeholder="Escribe una nueva tarea..." required>
                <button type="submit">Añadir Tarea</button>
            </form>
            <form action="{{ url_for('delete_last') }}" method="POST">
                <button type="submit">Eliminar Última Tarea</button>
            </form>

            <h2>Tareas:</h2>
            <ul>
                {% for task in tasks %}
                    <li>{{ task }}</li>
                {% endfor %}
                
                {% if not tasks %}
                    <p class="no-tasks">¡No hay tareas pendientes! 😴</p>
                {% endif %}
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Rastreador de tareas by Diego Alvarez</p>
    </footer>
</body>
</html>